/* Enter your custom styles here */

.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce{
	display:none;
}

.myBackgroundStyle {
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: white;
}

.container{
	text-align: center;
}
.playButton {
	width : 60%;
	position: absolute;
	bottom:10%;
	right:20%;
	margin-left:auto;
	margin-right:auto;
}